.tittle-bt {
  padding-left: 20px;
  margin-bottom: 20px;
}
.table-cinema {
  text-align: center;
}
.action {
  font-size: 20px;
}
.table-cinema tr th {
  font-weight: bold;

}
.btn-delete {
  color: red;
}
.mdi-arrow-up-bold-circle, .mdi-arrow-down-bold-circle{
  color: #b66dff;
}
.phantrang {
  margin-top: 30px !important;
}

