
.tittle-bt {
  padding-left: 20px;
  margin-bottom: 20px;
}
.table-cinema {
  text-align: center;
}
.action {
  font-size: 20px;
}
.table-cinema tr th {
  font-weight: bold;

}
.btn-delete {
  color: red;
}
.mdi-arrow-up-bold-circle, .mdi-arrow-down-bold-circle{
  color: #b66dff;
}
.phantrang {
  margin-top: 30px !important;
}
.search-cinema{
  margin-left: -20px;
}
.mota{
  width: 50px !important;
  height: 50px !important;
  text-overflow: ellipsis;
  font-size: 12px !important;
}

.img-film{
  border-radius: 0;
}

